{% extends "layout.html" %}


{% block content %}

    <div class="container-fluid">
    <div class="container-sm posts shadow p-3 mb-5 bg-white rounded">
    <div class="container title"><h3>USER NAME // Post Name</h3></div>
    <div class="container content"><p class="main">Lorem  Nulldiculus mus. Cras feugiat bibendum ante quis tempor. Proin rhoncus dui felis, vel viverra leo porttitor in.</p></div>
    <div class="container footer"><p class="footer">.</p></div>
    </div>>

{% endblock %}