{% extends "layout.html" %}


{% block content %}

<div class="container-fluid">
    <div class="container-sm posts shadow p-3 mb-5 bg-white rounded">
    <div class="container title"><h3>login</h3></div>
    <form>
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">

        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      <br>
    <div class="container footer"><p class="footer">.</p></div>
</div>>







{% endblock %}